h2, p {
  width: 880px;
}

h2 {
  @include script(64px);
  margin: 100px auto 80px;

  span {
    height: 4px;
    background-color: $text;
    display: block;
    position: relative;
    top: 40px;
  }
}

section {
  padding: 100px 0;

  p {
    @include sans(20px);
    margin: 0 auto 50px;
    width: 880px;
    font-size: 20px;
    line-height: 36px;

    &:last-of-type {
      margin: 0 auto;
    }
  }
}
