h2, p, blockquote {
  width: 880px;
}

blockquote {
  @include serif(46px);
  margin: 0 auto;
  text-align: center;
}

h2 {
  @include script(64px);
  margin: 100px auto 100px;
  text-align: center;

  span {
    @include single-transition(all, 0.2s, ease-in-out);
    height: 4px;
    background-color: $cross;
    display: block;
    position: relative;
    top: 40px;
  }

  #number {
    @include border-radius(50%);
    text-align: center;
    font-weight: bold;
    $side: 70px;
    width: $side; height: $side;
    border: 5px solid $one-text;
    margin: 0 auto 70px;
  }
}

section {
  padding: 100px 0;

  p {
    @include sans(20px);
    margin: 0 auto 50px;
    width: 880px;
    font-size: 20px;
    line-height: 36px;

    &:last-of-type {
      margin: 0 auto;
    }
  }
}
