$one-background: #2e2e2e;
$one-text: white;
$two-background: #ececec;
$two-text: $one-background;
$three-background: #e7dfb6;
$three-text: $one-background;
$four-text: $one-background;
$five-background: #dbe6df;
$five-text: $one-background;
$header: black;
$cross: red;
$header-background: #fefefe;
