#audio {
  position: fixed;
  bottom: 25px; right: 25px;
  z-index: 99;

  @include media($break) {
    position: relative;
    display: none;
  }

  span {
    @include sprite-background(audio);
    cursor: pointer;

    &.mute {
      background-position: sprite-position($sprites, mute)
    }
  }
}
