header {
  @include single-transition(background, 0.2s, ease-in-out);
  position: fixed;
  background: image-url('ad.jpg') no-repeat $header;
  width: 100%;
  height: 313px;

  &.fixed {
    background: image-url('ad-cut.jpg') no-repeat $header;
    height: 100px;
    z-index: 2;
  }

  img {
    display: block;
  }
}
