header {
  @include _transition;
  position: fixed;
  width: 100%;
  left: 0; top: 0;
  z-index: 4;
  background: $header-background;
  color: $one-background;
  padding: 0 40px;
  text-align: center;
  box-sizing: border-box;

  @include media($break) {
    padding: 0 10px;
  }

  #icons, #tab, #newsletter {
    @include float-left;
  }

  #vivo, #social {
    @include float-right;
  }

  #icons {
    @include sprite-background(header-icons);
    margin: 10px 10px 0 0;
  }

  #tab {
    @include tab(24px);
    margin: 16px 30px 0 0;
    text-transform: uppercase;

    @include media($break) {
      margin: 8px 0 0 0;
    }
  }

  #newsletter {
    @include sans(14px);
    margin-top: 20px;
    position: relative;

    &:hover ul { visibility: visible; opacity: 1; }

    &:after {
      @include sprite-background(arrow);
      content: '';
      position: absolute;
      right: -15px;
      top: 6px;
    }

    ul {
      @include _transition;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: $header-background;
      padding: 20px 10px 10px;
    }

    li {
      margin-bottom: 10px;

      &:last-of-type { margin-bottom: 0; }

      &:before {
        content: '';
        display: inline-block !important;
        position: relative;
        top: 5px;
        margin-right: 5px;
      }
    }

    #email:before { @include sprite-background(email); }
    #mobile:before { @include sprite-background(mobile); }
    #facebook:before { @include sprite-background(facebook-2); }
    #twitter-header:before { @include sprite-background(twitter-2); }

    input {
      border: 1px solid $one-background;
      padding: 5px 10px;
      float: right;
    }
  }

  h1 {
    @include serif(26px);
    margin: 15px auto 0;
    width: 293px;

    @include media($break) {
      font-size: 14px;
      width: 170px;
      margin: 7px auto 0;
    }
  }

  #vivo {
    @include sprite-background(vivo);
    padding-right: 25px;
    border-right: 1px solid #e1e1e1;

    @include media($break) {
      @include sprite-background(vivo-small);
      padding-right: 0;
      border-right: none;
      margin-top: 11px;
    }
  }

  #social {
    @include sprite-background(social);
    margin: 10px 0 0 25px;
  }

  @include media($break) {
    #icons, #newsletter, #social { display: none; }
  }
}
