#intro {
  padding: 0;
  position: relative;
  $height: 140px;

  #titles {
    @include centered(400px);
    width: 75%;
    z-index: 1;
  }

  h1 {
    @include serif($height);
    text-align: center;
    font-size: $height;
    line-height: $height;

    @include media($break) {
      $height: 57px;
      font-size: $height;
      line-height: $height;
    }
  }

  h5 {
    @include serif(36px);
    text-align: center;
  }
}
