#intro {
  padding: 0;
  position: relative;
  $height: 140px;

  #titles {
    height: 400px;
    position: absolute;
    width: 75%;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 1;
  }

  h1 {
    @include serif($height);
    text-align: center;
    font-size: $height;
  }

  h5 {
    @include serif(36px);
    text-align: center;
  }
}
