body {
  background: $background;
  color: $text;
}

#container {
  top: 313px;
  width: 100%;
  position: absolute;
}

section {
  padding: 100px 0;

  p {
    margin: 0 auto 50px;
    width: 660px;
    font-size: 20px;
    line-height: 36px;

    &:last-of-type {
      margin: 0 auto;
    }
  }
}
