body {
  background: $one-background;
  color: $one-text;
  height: auto !important;

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

#container {
  width: 100%;
  position: relative;
  background: $one-background;
}

footer {
  @include serif(18px);
  width: 100%;
  background: $header;
  position: relative;
  z-index: 1;
  padding: 90px 0;

  p {
    margin: 0 auto 50px;
    line-height: 32px;
  }

  video {
    position: relative;
  }

  span {
    @include tab(24px);
    text-transform: uppercase;
    margin-right: 5px;
  }

  #credits {
    @include sans(16px);
    @include clearfix;
    width: 25%;
    margin: 25px auto 0;

    h4 {
      @include float-left;
      font-weight: bold;
    }

    ul {
      @include float-right;
    }

    @include media($break) {
      width: 75%;
      text-align: center;

      h4, ul { @include cancel-float; }

      h4 { margin-bottom: 15px; }
    }
  }
}
