section#one {
  background: linear-gradient($one-background, lighten($one-background, 10%));
  color: $one-text;
}

section#two {
  background: $two-background;
  color: $two-text;

  #number { border-color: $two-text; }
}

section#three {
  background: $three-background;
  color: $three-text;

  #number { border-color: $three-text; }

  img { width: 100%; }
}

#bikes {
  @include clearfix;
  margin: 50px 0;

  img {
    @include float-left;
    display: block;
    width: 25%;
  }
}
