section#ad {
  position: relative;
  background: image-url('ad-background.jpg') no-repeat;
  background-size: cover;
  padding: 0;

  h3 {
    @include sans(24px);
    color: $one-background;
    border: 1px solid $one-background;
    padding: 5px 15px;
    position: fixed;
    bottom: 50px; right: 50px;
    display: none;
    z-index: 3;

    @include media($break) {
      position: relative;
      height: auto;
    }
  }

  @include media($break) {
    min-height: 125px;

    video { display: none; }
  }
}

section#one {
  background: linear-gradient($one-background, lighten($one-background, 10%));
  color: $one-text;
}

section#two {
  background: $two-background;
  color: $two-text;
  height: auto !important;

  #number { border-color: $two-text; }
}

section#three {
  background: $three-background;
  color: $three-text;

  #number { border-color: $three-text; }

  img { width: 100%; }
}

section#four {
  background: image-url('section-four-background.jpg') no-repeat;
  background-size: cover;
  position: relative;
  color: $four-text;
  height: auto !important;

  #number { border-color: $four-text; }

  h2, blockquote, p {
    z-index: 2;
    position: relative;
  }

  video.fixed {
    position: fixed;

    @include media($break) { position: relative; }
  }
  @include media($break) {
    video { display: none; }
  }
}

section#five {
  background: $five-background;
  color: $five-text;
  position: relative;
  z-index: 1;

  h3 {
    @include script(48px);
    text-align: center;
    margin: 0 auto 50px;
    width: 880px;
    color: $one-background;

    @include media($break) {
      width: 90%;
    }
  }
}
