section#ad {
  position: relative;

  h3 {
    @include sans(24px);
    color: $one-background;
    border: 1px solid $one-background;
    padding: 5px 15px;
    position: fixed;
    bottom: 50px; right: 50px;
    display: none;
    z-index: 3;
  }
}

section#one {
  background: linear-gradient($one-background, lighten($one-background, 10%));
  color: $one-text;
}

section#two {
  background: $two-background;
  color: $two-text;
  height: auto !important;

  #number { border-color: $two-text; }
}

section#three {
  background: $three-background;
  color: $three-text;

  #number { border-color: $three-text; }

  img { width: 100%; }
}

section#four {
  position: relative;
  color: $four-text;
  height: auto !important;

  #number { border-color: $four-text; }

  h2, blockquote, p {
    z-index: 2;
    position: relative;
  }

  video.fixed { position: fixed; }
}

#bikes {
  @include clearfix;
  margin: 50px 0;
  position: relative;

  video {
    @include transition;
    opacity: 0;
    cursor: pointer;
    height: 0;
  }

  img {
    @include float-left;
    display: block;
    cursor: pointer;
    width: 25%;
  }
}
