#twitter {
  width: 880px;
  margin: 0 auto;

  @include media($break) {
    width: 90%;
  }

  li {
    @include sans(16px);
    @include inline-block;
    width: 45%;
    margin: 0 10% 25px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;

    &:nth-of-type(2n) { margin: 0 0 25px 0; }

    @include media($break) {
      @include cancel-float;
      width: 100%;

      .timePosted { display: none; }
    }

    p {
      @include sans(16px);
      width: auto;
    }

    a {
      text-decoration: none;
      color: $one-background;
      font-weight: bold;

      span:first-of-type { display: none; }
    }

    .user img {
      vertical-align: middle;
      display: inline;
    }

    img {
      display: none;
    }

    p.tweet {
      margin-top: 25px;
    }
  }
}
